*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
.navbar {
    display: flex;
    gap: 25px;
    padding: 15px 50px;
}
.allCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 50px;
}
.userCard {
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.userCard:hover {
    box-shadow: 0 0 3px black;
}

.parentCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 50px;
}
.todoCard {
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    padding: 10px 25px;
    border-radius: 20px;
}